$XXXmain-color: #b07592;
$main-color: #ffffff;
$secondary-color: #66153d;
$XXXbackground-color: #b07592;
$background-color: #868385;

$section1-bgcolor: #868385;
$section1-color: white;

$section2-bgcolor: rgb(62, 41, 51);
$section2-color: white;

$body-color: $main-color;
//$body-bg: rgb(255, 255, 255);
$font-size-base: 1.2rem;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";

body {
  xxxbackground: black;
  background: $background-color;
}

.bg-pink {
  background-color: $main-color;
  @extend .text-white;

  a {
    color: white;
  }
  a:visited {
    text-decoration: none;
  }
}

.bg-sitemap {
  xxxbackground-color: rgb(110, 8, 71);
  background-color: #383434;
  @extend .text-white;
  a {
    color: white;
  }
  a:visited {
    text-decoration: none;
  }
}

.parallax {
  /* The image used */
  background-image: url("img_parallax.jpg");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("../img/caro-black.jpg");
  min-height: 600px;
}

.bgimg-2 {
  background-image: url("../img/caro-wald2.jpg");
  min-height: 600px;
}

.bgimg-3 {
  background-image: url("../img/caro-auto.jpg");
  min-height: 600px;
}

#preise table caption {
  font-family: "Shadows Into Light", cursive;
  font-size: 300%;
  font-weight: 800;
}

.caro-font {
  font-family: "Shadows Into Light", cursive;
  font-size: 300%;
  font-weight: 800;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
}

.map-container {
  overflow: hidden;
  xxxpadding-bottom: 56.25%;
  padding-bottom: 300px;
  position: relative;
  height: 0;
}
.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#services {
  xxxbackground: black url(../img/bg-pattern.jpg) repeat-y top center;
  
  background-color: $section1-bgcolor;
  color: $section1-color;
  .card {
    color: $section2-bgcolor;

    button {
      background-color: $section2-bgcolor;
      border-color: $section2-bgcolor;
    }
  }
}

#preise {
  background-color: $section2-bgcolor;
  caption {
    color: $section2-color;
  }
}

#news {
  background-color: $section1-bgcolor;
  color: $section1-color;

  a {
    color: $section1-color
  }
}


#about {
  background-color: $section2-bgcolor;
  color: $section2-color;
}

#kontakt {
  background-color: $section1-bgcolor;
  color: $section1-color;
  xxxbackground: black url(../img/bg-pattern.jpg) repeat-y top center;

  a {
    color: $section2-color
  }
}

#footer {
  background-color: $section2-bgcolor;
  color: $section2-color;

  #impresumModal {
    color: $section2-bgcolor;
  }

  .btn-link {
    margin-left: -10px;
  }
}


#social-media-footer {
  .context-dark,
  .bg-gray-dark,
  .bg-primary {
    color: rgba(255, 255, 255, 0.8);
  }

  .footer-classic a,
  .footer-classic a:focus,
  .footer-classic a:active {
    color: #ffffff;
  }
  .nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
  }

  ul,
  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
  }
  .social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  .nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: 0.22s ease;
  }
}

// home screen images
/*
@keyframes animatedBackground {
  from {
    xtransform: translate(0);
    background-position: -15px -15px;
  }
  to {
    xtransform: translate(10%);
    background-position: 0 0;
  }
}
#img1-area {
  width: 100%;
  height: 100%;
  background-image: url(../img/img-1.jpg);
  background-position: 0 0;
  background-repeat: repeat-x;
  animation: animatedBackground 5s linear infinite alternate;
}
#img2-area {
  width: 100%;
  height: 100%;
  background-image: url(../img/img-2.jpg);

  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 5s linear infinite alternate;
}
#img3-area {
  width: 100%;
  height: 100%;
  background-image: url(../img/img-3.jpg);
  background-position: center;
  background-repeat: repeat-x;
  animation: animatedBackground 5s linear infinite alternate;
}

.s8-img-anim {
  //overflow: hidden;
  //width: 100%;
  //height: 980px;
  // border: 3px solid red;

  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  perspective: 100px;
  color: white;
}
*/
// ############

/**
 START PAGE - full screen iamge with section content

*/
header.start-page-container {
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  perspective: 100px;
  color: white;
}

.studio-claim {
  z-index: 9999;
}

.start-page {
  height: 100%;
  height: fill-available;
  width: 100%;
  position: fixed;
  display: table; /* to center section inside */

  opacity: 0; /* hide default value */
}

.bg-img {
  background-position-x: 50%;
  background-position-y: 50%;

  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  height: 100%;
  height: -moz-available; /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  height: fill-available;
  width: 100%;
}

.bg-img-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url(../img/bg-caro-1.jpg);
}

.bg-img-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url(../img/nail-design.jpg);
}
.bg-img-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url(../img/bg-wimpernlifting.jpg);
}
.bg-img-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url(../img/bg-sugaring.jpg);
}

.start-page section {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

header a.control {
  text-decoration: none;

  &:hover {
    background-color: $main-color;
  }
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.start-page.show {
  opacity: 1;
  // transition: opacity 2s;

  // animation-name: fade-slide-down;
  // animation-duration: 15s;
  // animation-delay: initial;
  // animation-iteration-count: infinite;
  // animation-direction: initial;
  // animation-fill-mode: forwards;
  // animation-play-state: initial;
}

.start-page.hide {
  opacity: 0;
  /*transition: opacity 2s;*/
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Animations */

@keyframes fade-slide-down {
  0% {
    transform: translate3d(0.25em, 0.25em, 0.25em);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0.25em, 0.25em, 0.25em);
  }
}

.navbar {
  font-size: 1.5rem;

  .nav-item {
    margin-right: 0.6rem;
  }
}
